<div fxLayout="column" fxFlex="70%" fxFlex.lt-md="100%">
  <mat-nav-list dense style="height: 70vh; overflow: auto;" [appScrollDown]>
    <mat-list-item *ngFor="let message of messages">
      <span style="font-weight: 700; margin-right: 0.5vh">
      {{message.sender}}<span *ngIf="message.target"> => {{message.target}}</span>:
      </span>
      {{message.body}}
    </mat-list-item>
  </mat-nav-list>
  <div fxLayout='row'>
    <mat-form-field class="mat-input-wrapper-30" style="margin-right: 1vh;">
      <mat-select [(value)]="currentRecipient">
        <mat-option *ngFor="let recipient of recipientOptions" [value]="recipient">{{recipient}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-input-wrapper-55">
      <input matInput placeholder="Input" [(ngModel)]="currentMessage" (keypress)="onEnterPress($event)">
    </mat-form-field>
    <div style="width: 20%">
      <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
