<button mat-raised-button class="logout-btn" (click)="logout()">Logout</button>
<button mat-raised-button color="primary" class="refresh-btn"
        (click)="refreshActions()">
  Refresh
</button>
<mat-tab-group class="tab-group" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="publicChat" *ngIf="role.name === 'dispatcher' || role.name === 'operator'">
    <ng-template mat-tab-label>
      Dispatcher chat
      <span style="padding: 2px 4px; background-color: red; color: white;" [hidden]="!notifications['publicChat']">
        {{notifications['publicChat']}}
      </span>
    </ng-template>
    <div class="tab-content">
      <app-dispatcher-chat (messageReceive)="onMessageReceive('publicChat')"></app-dispatcher-chat>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Actions <span [hidden]=""></span>
    </ng-template>
    <div class="tab-content">
      <app-terminal-actions></app-terminal-actions>
    </div>
  </mat-tab>
  <mat-tab label="privateChat" *ngIf="role.name !== 'GM'">
    <ng-template mat-tab-label>
      Private chat
      <span style="padding: 2px 4px; background-color: red; color: white;" [hidden]="!notifications['privateChat']">
        {{notifications['privateChat']}}
      </span>
    </ng-template>
    <div class="tab-content">
      <app-private-chat (messageReceive)="onMessageReceive('privateChat')"></app-private-chat>
    </div>
  </mat-tab>
  <mat-tab label="secretChat" *ngIf="role.name === 'SKK'">
    <ng-template mat-tab-label>
      Secret chat
      <span style="padding: 2px 4px; background-color: red; color: white;" [hidden]="!notifications['secretChat']">
        {{notifications['secretChat']}}
      </span>
    </ng-template>
    <div class="tab-content">
      <app-secret-chat (messageReceive)="onMessageReceive('secretChat')"></app-secret-chat>
    </div>
  </mat-tab>
  <mat-tab label="gmChat">
    <ng-template mat-tab-label>
      GM chat
      <span style="padding: 2px 4px; background-color: red; color: white;" [hidden]="!notifications['gmChat']">
        {{notifications['gmChat']}}
      </span>
    </ng-template>
    <div class="tab-content">
      <app-gm-chat (messageReceive)="onMessageReceive('gmChat')"></app-gm-chat>
    </div>
  </mat-tab>
</mat-tab-group>
