<mat-tab-group class="tab-group">
  <mat-tab *ngIf="role.name === 'dispatcher' || role.name === 'operator'" (click)="onPublicTabClick()">
    <ng-template mat-tab-label>
      Dispatcher chat <span [hidden]=""></span>
    </ng-template>
    <div class="tab-content">
      <app-dispatcher-chat></app-dispatcher-chat>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Actions <span [hidden]=""></span>
    </ng-template>
    <div class="tab-content">
      <app-terminal-actions></app-terminal-actions>
    </div>
  </mat-tab>
  <mat-tab label="Private chat">
    <ng-template mat-tab-label>
      Private chat <span [hidden]=""></span>
    </ng-template>
    <div class="tab-content">
      <app-private-chat></app-private-chat>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      GM chat <span [hidden]=""></span>
    </ng-template>
    <div class="tab-content">
      <app-gm-chat></app-gm-chat>
    </div>
  </mat-tab>
</mat-tab-group>
