<mat-card>
  <mat-card-header>
    <h5>Navigation data</h5>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="data">
      <p><span style="font-weight: 700">Coordinates:</span> {{data.coordX}} -- {{data.coordY}}</p>
      <p><span style="font-weight: 700">Speed:</span> {{data.speed}}</p>
      <p>
        <span style="font-weight: 700">Direction:</span>
        <i class="material-icons" [ngStyle]="{'transform': 'rotate(' + data.direction.substr(1) + 'deg)'}"
           style="vertical-align:middle;">
          arrow_upward
        </i>
      </p>
    </div>
  </mat-card-content>
</mat-card>
