<mat-card fxFlex="50%" fxFlex.lt-md="100%">
  <mat-card-header>
    <h5>Password change</h5>
  </mat-card-header>
  <mat-card-content style="    display: block;">
    <div fxLayout='row'>
      <mat-form-field style="margin-right: 1vh;">
        <mat-select [(value)]="selectedRole">
          <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="newPassword">
      </mat-form-field>
      <div style="width: 20%">
        <button mat-raised-button color="primary" (click)="changePassword()">Send</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
