<mat-card fxFlex="50%" fxFlex.lt-md="100%">
  <mat-card-header>
    <h5>Ship status</h5>
  </mat-card-header>
  <mat-card-content style="    display: block;">
    <div style="padding: 9px;      margin-bottom: 20px;    background-color: #f5f5f5;    border: 1px solid #787878;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
      <div *ngFor="let shipData of data" style="background-color: whitesmoke; display: flex; flex-direction: column; padding: 10px;">
        <div fxFlex="row" fxLayoutWrap="wrap">
          <div style="width: 33%"><span style="font-weight: bold;">Hull:</span> {{shipData.hull}}%</div>
          <div style="width: 33%"><span style="font-weight: bold;">Air:</span> {{shipData.air}}%</div>
          <div style="width: 33%"><span style="font-weight: bold;">Engine:</span> {{shipData.engine}}%</div>
          <div style="width: 33%"><span style="font-weight: bold;">Air Users:</span> {{shipData.airUsers}}</div>
          <div style="width: 33%"><span style="font-weight: bold;">Anchor:</span> {{shipData.anchorOn ? "Enabled" :
            "Disabled"}}
          </div>
          <div style="width: 66%">
            <span style="font-weight: bold;">Cargo:</span>
            <span *ngFor="let cargoItem of shipData.cargo">
                  <i class="material-icons" *ngIf="cargoItem" style="color: green; vertical-align:middle;">next_week</i>
                  <i class="material-icons" *ngIf="!cargoItem" style="color: red; vertical-align:middle;">
                    call_missed_outgoing
                  </i>
              </span>
          </div>
        </div>
        <div>
          {{shipData.message}}
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
  </mat-card-content>
</mat-card>
